*~
*.\#*
\#*
*.autosave
*.aux
*.backup
*.backup*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
build/
.cache
*.cb
*.cb2
celerybeat-schedule
*.class
*-converted-to.*
*.cover
.coverage
.coverage.*
coverage.xml
dependences/
develop-eggs/
dist/
docs/_build/
*.dvi
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
figures/
*.fls
*.fmt
*.fot
.hypothesis/
.installed.cfg
instance/
.ipynb_checkpoints
*latexmk
lib/
lib64/
*.lof
*.log
login*.py
*.lot
*.lox
*.manifest
.metadata/
*.mo
.mypy_cache/
*.nav
nosetests.xml
*.out
outputs/
parts/
pip-delete-this-directory.txt
pip-log.txt
*.pot
*.pre
*.pyc
__pycache__/
*$py.class
*.py[cod]
.Python
.python-version
.ropeproject
*.run.xml
*.sage.py
.scrapy
*.snm
*.so
*.spec
*.spl
.spyderproject
.spyproject
*.synctex.gz
*.toc
.tox/
.venv
*.vrb
.webassets-cache
